body {
  background-color: lightpink;
  color: #0d4362;
  font-family: 'aboriginal sans', arial;
}

header {
  background-color: paleturquoise;
}

h1 {
  color: #0d4362;
}

h2 {
  background-color: paleturquoise;
}

p {
  color: black;
  background-color: white;
}

footer {
  background-color: paleturquoise;
}
