@font-face {
    font-family: 'aboriginal_sans_regular';
    src: url('aboriginal_sans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: lightpink;
  color: #0d4362;
  font-family: 'aboriginal_sans_regular';
  font-size: 20px;
}

header {
  background-color: paleturquoise;
}

h1 {
  color: #0d4362;
}

h2 {
  background-color: paleturquoise;
}

p {
  color: black;
  background-color: white;
}

footer {
  background-color: paleturquoise;
}
