@font-face {
    font-family: 'aboriginal_sans_regular';
    src: url('aboriginal_sans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #cc0000;
    color: white;
    border: 6px solid black;
    font-size: 24px;
    font-family: 'aboriginal sans';
}

h2 {
  background-color: #3333ff;
  border: 6px solid Black;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.div1 {
  padding: 25px;
}


body {
  background-color: lightpink;
  color: #0d4362;
  font-family: 'aboriginal_sans_regular';
  font-size: 20px;
}

header {
  background-color: paleturquoise;
}

h1 {
  color: #0d4362;
}

h2 {
  background-color: paleturquoise;
}

p {
  color: black;
  background-color: white;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #cc0000;
  color: white;
  border: 6px solid black;
}
